<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myBaselineEntryLabel">Create or edit a Baseline Entry</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!baselineEntry.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="baselineEntry.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_entryName">Entry Name</label>
            <input type="text" class="form-control" name="entryName" id="field_entryName"
                [(ngModel)]="baselineEntry.entryName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_creationTime">Creation Time</label>
            <div class="d-flex">
                <input id="field_creationTime" type="datetime-local" class="form-control" name="creationTime" [(ngModel)]="baselineEntry.creationTime"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_fileName">File Name</label>
            <input type="text" class="form-control" name="fileName" id="field_fileName"
                [(ngModel)]="baselineEntry.fileName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_blob">Blob</label>
            <div>
                <div *ngIf="baselineEntry.blob" class="form-text text-danger clearfix">
                    <a class="pull-left" (click)="openFile(baselineEntry.blobContentType, baselineEntry.blob)">open</a><br>
                    <span class="pull-left">{{baselineEntry.blobContentType}}, {{byteSize(baselineEntry.blob)}}</span>
                    <button type="button" (click)="baselineEntry.blob=null;baselineEntry.blobContentType=null;"
                            class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_blob" (change)="setFileData($event, baselineEntry, 'blob', false)"/>
            </div>
            <input type="hidden" class="form-control" name="blob" id="field_blob"
                [(ngModel)]="baselineEntry.blob" />
            <input type="hidden" class="form-control" name="blobContentType" id="field_blobContentType"
                [(ngModel)]="baselineEntry.blobContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_uploadStatus">Upload Status</label>
            <select class="form-control" name="uploadStatus" [(ngModel)]="baselineEntry.uploadStatus" id="field_uploadStatus" >
                <option value="NO">NO</option>
                <option value="OK">OK</option>
                <option value="ERROR">ERROR</option>
            </select>
        </div>

        <div class="form-group">
            <label for="field_baselineEntryVersion">Baseline Entry Version</label>
            <select class="form-control" id="field_baselineEntryVersion" multiple name="baselineEntryVersion" [(ngModel)]="baselineEntry.baselineEntryVersions">
                <option [ngValue]="getSelected(baselineEntry.baselineEntryVersions, baselineEntryVersionOption)" *ngFor="let baselineEntryVersionOption of baselineentryversions; trackBy: trackBaselineEntryVersionById">{{baselineEntryVersionOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
