
<div *ngIf="baseline">
    <h2><span>Baseline</span> {{baseline.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Baseline Name</span></dt>
        <dd>
            <span>{{baseline.baselineName}}</span>
        </dd>
        <dt><span>Creation Time</span></dt>
        <dd>
            <span>{{baseline.creationTime | date:'medium'}}</span>
        </dd>
        <dt><span>Milestone</span></dt>
        <dd>
            <span>{{baseline.milestone | date:'medium'}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{baseline.status}}</span>
        </dd>
        <dt><span>Baseline Entry</span></dt>
        <dd>
            <span *ngFor="let baselineEntry of baseline.baselineEntries; let last = last">
                <a [routerLink]="['/baseline-entry-anc-suffix', baselineEntry?.id ]">{{baselineEntry.entryName}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'baseline-anc-suffix/'+ baseline.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
