<div>
    <h2>
        <span>Upload Versions</span>
        <button class="btn btn-primary float-right jh-create-entity create-upload-version-anc-suffix" [routerLink]="['/', { outlets: { popup: ['upload-version-anc-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Upload Version
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="uploadVersions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Version</span></th>
            <th><span>File</span></th>
            <th><span>Upload Status</span></th>
            <th><span>File Entry</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let uploadVersion of uploadVersions ;trackBy: trackId">
                <td><a [routerLink]="['../upload-version-anc-suffix', uploadVersion.id ]">{{uploadVersion.id}}</a></td>
                <td>{{uploadVersion.version}}</td>
                <td>
                    <a *ngIf="uploadVersion.file" (click)="openFile(uploadVersion.fileContentType, uploadVersion.file)">open</a>
                    <span *ngIf="uploadVersion.file">{{uploadVersion.fileContentType}}, {{byteSize(uploadVersion.file)}}</span>
                </td>
                <td>{{uploadVersion.uploadStatus}}</td>
                <td>
                    <div *ngIf="uploadVersion.fileEntryId">
                        <a [routerLink]="['../file-entry-anc-suffix', uploadVersion.fileEntryId  ]" >{{uploadVersion.fileEntryFileName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../upload-version-anc-suffix', uploadVersion.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'upload-version-anc-suffix/'+ uploadVersion.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'upload-version-anc-suffix/'+ uploadVersion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
