
<div *ngIf="uploadVersion">
    <h2><span>Upload Version</span> {{uploadVersion.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Version</span></dt>
        <dd>
            <span>{{uploadVersion.version}}</span>
        </dd>
        <dt><span>File</span></dt>
        <dd>
            <div *ngIf="uploadVersion.file">
                <a (click)="openFile(uploadVersion.fileContentType, uploadVersion.file)">open</a>
                {{uploadVersion.fileContentType}}, {{byteSize(uploadVersion.file)}}
            </div>
        </dd>
        <dt><span>Upload Status</span></dt>
        <dd>
            <span>{{uploadVersion.uploadStatus}}</span>
        </dd>
        <dt><span>File Entry</span></dt>
        <dd>
            <div *ngIf="uploadVersion.fileEntryId">
                <a [routerLink]="['/file-entry-anc-suffix', uploadVersion.fileEntryId]">{{uploadVersion.fileEntryFileName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'upload-version-anc-suffix/'+ uploadVersion.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
