
<div *ngIf="baselineEntryVersion">
    <h2><span>Baseline Entry Version</span> {{baselineEntryVersion.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Creation Time</span></dt>
        <dd>
            <span>{{baselineEntryVersion.creationTime | date:'medium'}}</span>
        </dd>
        <dt><span>Version</span></dt>
        <dd>
            <span>{{baselineEntryVersion.version}}</span>
        </dd>
        <dt><span>File Name</span></dt>
        <dd>
            <span>{{baselineEntryVersion.fileName}}</span>
        </dd>
        <dt><span>Blob</span></dt>
        <dd>
            <div *ngIf="baselineEntryVersion.blob">
                <a (click)="openFile(baselineEntryVersion.blobContentType, baselineEntryVersion.blob)">open</a>
                {{baselineEntryVersion.blobContentType}}, {{byteSize(baselineEntryVersion.blob)}}
            </div>
        </dd>
        <dt><span>Upload Status</span></dt>
        <dd>
            <span>{{baselineEntryVersion.uploadStatus}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'baseline-entry-version-anc-suffix/'+ baselineEntryVersion.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
