<div>
    <h2>
        <span>Baseline Entry Versions</span>
        <button class="btn btn-primary float-right jh-create-entity create-baseline-entry-version-anc-suffix" [routerLink]="['/', { outlets: { popup: ['baseline-entry-version-anc-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Baseline Entry Version
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="baselineEntryVersions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Creation Time</span></th>
            <th><span>Version</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let baselineEntryVersion of baselineEntryVersions ;trackBy: trackId">
                <td><a [routerLink]="['../baseline-entry-version-anc-suffix', baselineEntryVersion.id ]">{{baselineEntryVersion.id}}</a></td>
                <td>{{baselineEntryVersion.name}}</td>
                <td>{{baselineEntryVersion.creationTime | date:'medium'}}</td>
                <td>{{baselineEntryVersion.version}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../baseline-entry-version-anc-suffix', baselineEntryVersion.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'baseline-entry-version-anc-suffix/'+ baselineEntryVersion.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'baseline-entry-version-anc-suffix/'+ baselineEntryVersion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
