<div>
    <h2>
        <span>File Groups</span>
        <button class="btn btn-primary float-right jh-create-entity create-file-group-anc-suffix" [routerLink]="['/', { outlets: { popup: ['file-group-anc-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new File Group
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="fileGroups">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Group Name</span></th>
            <th><span>File Entry</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let fileGroup of fileGroups ;trackBy: trackId">
                <td><a [routerLink]="['../file-group-anc-suffix', fileGroup.id ]">{{fileGroup.id}}</a></td>
                <td>{{fileGroup.groupName}}</td>
                <td>
                    <span *ngFor="let fileEntry of fileGroup.fileEntries; let last = last">
                            <a class="form-control-static" [routerLink]="['../file-entry-anc-suffix', fileEntry?.id ]">{{fileEntry.fileName}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../file-group-anc-suffix', fileGroup.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'file-group-anc-suffix/'+ fileGroup.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'file-group-anc-suffix/'+ fileGroup.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
