
<div *ngIf="fileGroup">
    <h2><span>File Group</span> {{fileGroup.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Group Name</span></dt>
        <dd>
            <span>{{fileGroup.groupName}}</span>
        </dd>
        <dt><span>File Entry</span></dt>
        <dd>
            <span *ngFor="let fileEntry of fileGroup.fileEntries; let last = last">
                <a [routerLink]="['/file-entry-anc-suffix', fileEntry?.id ]">{{fileEntry.version}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'file-group-anc-suffix/'+ fileGroup.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
